# Ignore environment variables file
.env

# Ignore virtual environments
venv/
myenv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs and database files
*.log
*.sqlite3
*.db
MyPortfolio.db
instance/*.db
instance/MyPortfolio.db

# Ignore system files (macOS, Windows, Linux)
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/
```

