<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>University Result</title>
  <link rel="icon" href="/static/logo/f9bd0c09685358da86643b8470660219.jpg">
  <link rel="stylesheet" href="/static/css/stylecer.css">
</head>
<body>

  <div class="container">
    <img alt="CHARUSAT" loading="lazy" width="48" height="45" decoding="async" data-nimg="1" src="/static/logo/CHARUSAT_NEW.6cad095d.png" style="color: transparent; width: 17rem;">
    <div class="certificates">
      <!-- Example Certificate -->
      <div class="certificate">
        <a href="/static/certificate/1st University Result.pdf" target="_blank">
            <img src="/static/certificate page/1st.png" alt="1st sem">
            <p>First Semester Result</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/University Result.pdf" target="_blank">
            <img src="/static/certificate page/2nd.png" alt="2nd sem">
            <p>Second Semester Result</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/3rd University Result.pdf" target="_blank">
            <img src="/static/certificate page/3rd.png" alt="3rd sem">
            <p>Third Semester Result</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
