<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coursera Certificates</title>
  <link rel="icon" href="/static/logo/f9bd0c09685358da86643b8470660219.jpg">
  <link rel="stylesheet" href="/static/css/stylecer.css">
</head>
<body>

  <div class="container">
    <img src="/static/images/about/Coursera-Logo_600x600.svg" alt="Coursera Icon" width="100" height="100" style="margin-right: 10px;"> 
    <div class="certificates">
      <!-- Example Certificate -->
      <div class="certificate">
        <a href="/static/certificate/Coursera 2FP3NSOON6OU.pdf" target="_blank">
            <img src="/static/certificate page/cousera.png" alt="html">
            <p>Python for Data Science, AI & Development by Coursera</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/IBMDesign20250208-27-flthqj.pdf" target="_blank">
            <img src="/static/certificate page/image.png" alt="html">
            <p>Python for Data Science, AI & Development by IBM</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/Coursera P1C6GO6NO0WM.pdf" target="_blank">
            <img src="/static/certificate page/couresera 1.png" alt="html">
            <p>Developing AI Applications with Python and Flask</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/Coursera 9FYT73FBBS3J.pdf" target="_blank">
            <img src="/static/certificate page/coursera 2.png" alt="html">
            <p>Getting Started with Git and GitHub</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/IBMDesign20250225-27-c0th56.pdf" target="_blank">
            <img src="/static/certificate page/creadly 1.png" alt="html">
            <p>Getting Started with Git and GitHub</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
