<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MongoDB Certificates</title>
  <link rel="icon" href="/static/logo/f9bd0c09685358da86643b8470660219.jpg">
  <link rel="stylesheet" href="/static/css/stylecer.css">
</head>
<body>

  <div class="container">
    <img src="https://webimages.mongodb.com/_com_assets/cms/kuyjf3vea2hg34taa-horizontal_default_slate_blue.svg?auto=format%252Ccompress" alt="Udemy" width="120" height="40" loading="lazy">
    <div class="certificates">
      <!-- Example Certificate -->
      <div class="certificate">
        <a href="/static/certificate page/c.jpeg" target="_blank">
            <img src="/static/certificate page/c.jpeg" alt="1st sem">
            <p>C Programming</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
