<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NPTEL Certificates</title>
  <link rel="icon" href="/static/logo/f9bd0c09685358da86643b8470660219.jpg">
  <link rel="stylesheet" href="/static/css/stylecer.css">
</head>
<body>

  <div class="container">
    <img _ngcontent-ng-c1343040922="" src="/static/images/portfolio/nptel.jpg" alt="nptel-logo" class="logo" style="cursor: pointer; height: auto; width: auto;">
    <div class="certificates">
      <!-- Example Certificate -->
      <div class="certificate">
        <a href="/static/certificate/Programming, Data Structures and Algorithms using Python.pdf" target="_blank">
            <img src="/static/certificate page/nptel.png" alt="html">
            <p>Data Structure and Algorithm using Python</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
