<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Other Certificates</title>
  <link rel="icon" href="/static/logo/f9bd0c09685358da86643b8470660219.jpg">
  <link rel="stylesheet" href="/static/css/stylecer.css">
</head>
<body>

  <div class="container">
    <h2>Certificates</h2>
    <div class="certificates">
      <!-- Example Certificate -->
      <div class="certificate">
        <a href="/static/certificate page/c.jpeg" target="_blank">
            <img src="/static/certificate page/c.jpeg" alt="1st sem">
            <p>C Programming</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/I have completed C++ Course_ Learn the Essentials on Scaler Topics.pdf" target="_blank">
            <img src="/static/certificate page/scaler.png" alt="1st sem">
            <p>C++ Programming</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
