<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Udemy Certificates</title>
  <link rel="icon" href="/static/logo/f9bd0c09685358da86643b8470660219.jpg">
  <link rel="stylesheet" href="/static/css/stylecer.css">
</head>
<body>

  <div class="container">
    <img src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg" alt="Udemy" width="120" height="40" loading="lazy">
    <div class="certificates">
      <!-- Example Certificate -->
      <div class="certificate">
        <a href="/static/certificate/html.pdf" target="_blank">
            <img src="/static/certificate page/html.png" alt="html">
            <p>HTML5, Python, Flask framework</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/java.pdf" target="_blank">
            <img src="/static/certificate page/java.png" alt="java">
            <p>Java Programming</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/js.pdf" target="_blank">
            <img src="/static/certificate page/js.png" alt="js">
            <p>Javascript</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate/pyhton.pdf" target="_blank">
            <img src="/static/certificate page/python.png" alt="Python">
            <p>Python Programming</p>
        </a>
      </div>
      <div class="certificate">
        <a href="/static/certificate page/UC-4c4c7297-d28d-43d8-b186-58e7e3d12ff3.jpg" target="_blank">
            <img src="/static/certificate page/UC-4c4c7297-d28d-43d8-b186-58e7e3d12ff3.jpg" alt="Python">
            <p>The Ultimate MySQL Crash Course</p>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
